@model Entity.ViewModel.UserViewModel

@{
    ViewData["Title"] = "Profile";
}

<h2 class="dt p-2">My Profile</h2>
<div class="shadow card container-fluid profile-card shadow p-0">
    <div>
        <img class="profile-bg img-1" src="~/assets/profile_div_bg.jpg" alt="profile-bg">
    </div>
    <form asp-controller="User" asp-action="Profile" method="post" class="row needs-validation mt-1 mb-3 mx-2"
        enctype="multipart/form-data">
        <div class="row mx-2">
            <div class="col-2 col-md-1 d-flex justify-content-center p-0">
                <img src="~/uploads/@(Model?.ProfileImage)" class="profile-img profile-photo rounded-circle"
                    alt="profile-img">
                <input type="file" asp-for="ProfileImage" name="ProfileImage" id="ProfileImage" accept="~/uploads/*"
                    style="display: none;">
                <input type="hidden" asp-for="ProfileImage" name="ProfileImage">
                <label id="changeImageButton" for="ProfileImage"
                    class="position-absolute bg-white camera-position z-3 rounded-circle border z-2 shadow-sm">
                    <i class="fa fa-camera p-2 " aria-hidden="true"></i>
                </label>
            </div>
            <div class="col-9 col-md-7 p-0 mt-3 name">
                <h5>@Model.FirstName @Model.LastName</h5>
                <p>@Model.RoleName</p>
            </div>
            <div class="col-10 col-md-2 mail">
                @Model.Email
            </div>
        </div>
        <div>
            <div class="">
                <input type="hidden" asp-for="Id" name="Id" />
                <input type="text" asp-for="Email" hidden>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="firstName" class="form-control" id="firstName" placeholder="firstName"
                                name="FirstName" asp-for="FirstName" />
                            <label for="firstName">First Name*</label>
                        </div>
                        <span class="text-danger fs-6 ms-2" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="lastName" placeholder="lastName" name="LastName"
                                asp-for="LastName" />
                            <label for="LastName">Last Name*</label>
                        </div>
                        <span class="text-danger fs-6 ms-2" asp-validation-for="LastName"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="userName" placeholder="name" name="Username"
                            asp-for="Username" />
                        <label for="userName">User Name*</label>
                    </div>
                    <span class="text-danger fs-6 ms-2" asp-validation-for="Username"></span>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="number" id="phone" class="form-control" asp-for="Phone" pattern="[0-9]{10}"
                            maxlength="10" required>
                        <label for="phone">Phone*</label>
                    </div>
                    <span class="text-danger fs-6 ms-2" asp-validation-for="Phone"></span>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="form-floating col-md-4 mb-3">
                        <select id="CountryId" name="CountryId" class="form-select" asp-for="CountryId"
                            asp-items="ViewBag.Countries"></select>
                        <label for="CountryId" class="float">Country*</label>
                        <span asp-validation-for="CountryId" style="color: red;"></span>
                    </div>
                    <div class="form-floating col-md-4 mb-3">
                        <select id="StateId" name="StateId" class="form-select" asp-for="StateId"
                            asp-items="ViewBag.States"></select>
                        <label for="StateId" class="float">State*</label>
                        <span asp-validation-for="StateId" style="color: red;"></span>
                    </div>
                    <div class="form-floating col-md-4 mb-3">
                        <select id="CityId" name="CityId" class="form-select" asp-for="CityId"
                            asp-items="ViewBag.Cities"></select>
                        <label for="CityId" class="float">City*</label>
                        <span asp-validation-for="CityId" style="color: red;"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text" asp-for="Address" class="form-control" id="Address" placeholder="Address" />
                        <label for="Address">Address*</label>
                    </div>
                    <span asp-validation-for="Address" class="text-danger fs-6 ms-2"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="number" class="form-control" maxlength="6" minlength="6" id="ZipCode"
                            placeholder="ZipCode" asp-for="Zipcode" />
                        <label for="ZipCode">ZipCode*</label>
                    </div>
                    <span class="text-danger fs-6 ms-2" asp-validation-for="Zipcode"></span>
                </div>
            </div>
            <div>
                <div class="mt-2 gap-3 d-flex justify-content-end">
                    <button class="btn update-button" type="submit">Update</button>
                    <button class="btn cancel-button" type="button" id="Cancel"
                        onclick="location.href='@Url.Action("AdminDashboard", "Home")'">Cancel</button>
                </div>
                <span class="text-success">@ViewData["ProfileSuccessMessage"]</span>
            </div>
        </div>
    </form>
</div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script> $(document).ready(function () {
            $("#CountryId").change(function () {
                var countryId = $(this).val();
                if (countryId) {
                    $.ajax({
                        url: '/User/GetStates',
                        type: 'GET',
                        data: { countryId: countryId },
                        dataType: 'json',
                        success: function (states) {
                            var stateDropdown = $("#StateId");
                            stateDropdown.empty().append('<option value="">Select State</option>');
                            $.each(states, function (index, state) {
                                stateDropdown.append('<option value="' + state.id + '">' + state.name + '</option>');
                            });
                            $("#CityId").empty().append('<option value="">Select City</option>');
                        }
                    });
                }
            });

            $("#StateId").change(function () {
                var stateId = $(this).val();
                if (stateId) {
                    $.ajax({
                        url: '/User/GetCities',
                        type: 'GET',
                        data: { stateId: stateId },
                        dataType: 'json',
                        success: function (cities) {
                            var cityDropdown = $("#CityId");
                            cityDropdown.empty().append('<option value="">Select City</option>');
                            $.each(cities, function (index, city) {
                                cityDropdown.append('<option value="' + city.id + '">' + city.name + '</option>');
                            });
                        }
                    });
                }
            });

            $('#profileForm').submit(function (e) {
                if (!$(this).valid()) {
                    e.preventDefault();

                    $('.text-danger').each(function () {
                        if ($(this).text() !== '') {
                            toastr.error($(this).text());
                        }
                    });
                    var successMessage = '@TempData["SuccessMessage"]';
                    var errorMessage = '@TempData["ErrorMessage"]';

                    if (successMessage) {
                        toastr.success(successMessage);
                    }
                    if (errorMessage) {
                        toastr.error(errorMessage);
                    }
                }
            });
        });
    </script>
}