@model Entity.Data.User;
@{
    ViewData["Title"] = "UserList";
    var count = ViewBag.Count;
    var pageIndex = ViewBag.pageIndex;
    var pageSize = ViewBag.pageSize;
    var totalPage = ViewBag.TotalPage;
    var searchString = ViewBag.SearchString as string;
    var ErrorMessage = ViewBag.ErrorMessage;
}
<div class="p-3">
    <div class="d-flex justify-content-between  align-items-center mb-3">
        <div class="d-flex justify-content-start align-items-center">
            <h2><b>Users</b></h2>
        </div>
        <div class="d-flex justify-content-end align-items-center ">
            <form method="get" class="searh">
                <div class="input-group ">
                    <input type="text" class="form-control" placeholder="Search..." name="searchString"
                        value="@searchString" aria-label="Search" aria-describedby="search-addon" />
                    <button class="btn bg-white " type="submit" id="search-addon">
                        <i class="fas fa-search "></i>
                    </button>
                </div>
            </form>
            <a href="@Url.Action("AddUser", "User")" class="btn btn-primary m-2"><i class="fa-solid fa-plus"></i> Add
                User</a>
        </div>
    </div>
    <div class="bg-light rounded shadow">
        <div class="table-responsive">
            <table class="table utable p-2">
                <thead>
                    <tr>
                        <th scope="col" class="name-column">Name
                            <a asp-action="UserList" asp-route-sortOrder="@ViewData["UsernameSortParam"]"
                                asp-route-offset="1" asp-route-pagesize="@pageSize"
                                style="text-decoration: none;color: inherit;">
                                <i class="bi bi-arrow-up p-0 m-0"></i><i class="bi bi-arrow-down p-0 m-0"></i> </a>
                        </th>
                        <th scope="col" style="color:#5f5e5e" class="thead">Email</th>
                        <th scope="col" style="color:#5f5e5e" class="thead">Phone</th>
                        <th scope="col" class="role-column">Role
                            <a asp-action="UserList" asp-route-sortOrder="@ViewData["RoleSortParam"]"
                                asp-route-offset="1" asp-route-pagesize="@pageSize"
                                style="text-decoration: none;color: inherit;">
                                <i class="bi bi-arrow-up p-0 m-0"></i><i class="bi bi-arrow-down p-0 m-0"></i> </a>
                        </th>
                        <th scope="col" style="color:#5f5e5e" class="thead">Status</th>
                        <th scope="col" style="color:#5f5e5e" class="thead">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <p>@ErrorMessage</p>
                    @foreach (var user in ViewBag.UserList)
                    {
                        <tr id="@user.Id">
                            <td>
                                <div class="d-flex gap-3 align-items-center" style="color:#5f5e5e">
                                    <img class="user-profile-img" src="~/uploads/@(user?.ProfileImage)" alt="">
                                    @user.FirstName @user.LastName
                                </div>
                            </td>
                            <td style="color:#5f5e5e">
                                <div class="d-flex align-items-center p-2">@user.Email</div>
                            </td>
                            <td style="color:#5f5e5e">
                                <div class="d-flex align-items-center p-2">@user.Phone</div>
                            </td>
                            <td style="color:#5f5e5e">
                                <div class="d-flex align-items-center p-2">
                                    @switch (@user.RoleId)
                                    {
                                        case 1:
                                            <div>Super Admin</div>
                                            break;
                                        case 2:
                                            <div>Account Manager</div>
                                            break;
                                        case 3:
                                            <div>Chef</div>
                                            break;
                                    }
                                </div>
                            </td>
                            <td style="color:#5f5e5e">
                                <div class="d-flex align-items-center p-2">
                                    @if (@user.IsActive)
                                    {
                                        <button class="active-status p-1"><b>Active</b></button>
                                    }
                                    else
                                    {
                                        <button class="inActive-status p-1"><b>Inactive</b></button>
                                    }
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    @if (user.IsActive)
                                    {
                                        <a asp-action="EditUser" asp-controller="User" asp-route-id="@user.Id">
                                            <i class="bi bi-pen m-2" style="color:#5f5e5e"></i>
                                        </a>
                                    }
                                    <a class="bi bi-trash m-2" href="javascript:void(0)" onclick="confirmDelete(@user.Id)"
                                        style="color:#5f5e5e"></a>
                                    <form id="deleteForm-@user.Id" method="post"
                                        action="@Url.Action("DeleteUser", "User", new { id = user.Id })"
                                        style="display:none;">
                                        @Html.AntiForgeryToken()
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-row justify-content-end align-items-center p-2">
            <form method="get" class="d-flex  align-items-center">
                <label for="form-select" class="mx-2">Items per Page:</label>
                <select class="form-select w-auto mx-2" name="pageSize" onchange="this.form.submit()" id="Select"
                    aria-label="Role" onchange="">
                    @if (pageSize == 5)
                    {
                        <option selected value="5">5</option>
                    }
                    else
                    {
                        <option value="5">5</option>
                    }
                    @if (pageSize == 10)
                    {
                        <option selected value="10">10</option>
                    }
                    else
                    {
                        <option value="10">10</option>
                    }
                    @if (pageSize == 15)
                    {
                        <option selected value="15">15</option>
                    }
                    else
                    {
                        <option value="15">15</option>
                    }
                </select>
                <span>Showing @pageIndex out of <span>@totalPage</span></span>
                @if (pageIndex > 1)
                {
                    <a href="?pageIndex=@(pageIndex-1)&pageSize=@pageSize&searchString=@searchString"
                        class="bg-light border-1 mx-2 px-2 btn btn-outline-dark">
                        <i class="fa-solid fa-less-than"></i>
                    </a>
                }
                else
                {
                    <a class="bg-light border-1 mx-2 px-2 btn btn-outline-dark" disabled>
                        <i class="fa-solid fa-less-than"></i>
                    </a>
                }

                @if (pageIndex < totalPage)
                {
                    <a href="?pageIndex=@(pageIndex+1)&pageSize=@pageSize&searchString=@searchString"
                        class="bg-light border-1 px-2 btn btn-outline-dark">
                        <i class="fa-solid fa-greater-than"></i>
                    </a>
                }
                else
                {
                    <a class="bg-light border-1 px-2 btn btn-outline-dark" disabled>
                        <i class="fa-solid fa-greater-than"></i>
                    </a>
                }

            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalCenterTitel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center align-items-center flex-column">
                    <div>
                        <img src="@Url.Content("~/assets/warning.png")" height="40" width="40">
                    </div>
                    <div><b>Are you sure you want to delete this user?</b></div>

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary"
                        style="background-color: #0066A7; width: 70px; border-radius: 5px;"
                        id="confirmDeleteButton">Yes</button>
                    <button type="button" class="btn btn-outline-primary"
                        style="color: #0066A7; width: 70px; border-radius: 5px;" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function confirmDelete(userId) {
            const modal = new bootstrap.Modal(document.getElementById('deleteModal'));
            document.getElementById("confirmDeleteButton").onclick = function () {
                document.getElementById(`deleteForm-${userId}`).submit();
            };
            modal.show();
        }

        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';

            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });
    </script>
}