@model Entity.ViewModel.TableViewModel
<partial name="_ValidationScriptsPartial" />
<div class="container mt-5">
    <div class="modal fade" id="addTableModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title">@(Model.Id == 0 ? "Add Table" : "Edit Table")</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center p-1">
                    <form class="p-3" id="addNewTableForm" data-id="@Model.Id">
                        <input type="number" asp-for="Id" hidden>
                        <div class="row">
                            <div class="form-floating mb-3 p-0 col">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Name" />
                                <label for="Name">Name</label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col mb-3">
                                <div class="form-floating">
                                    <select asp-for="SectionId" class="form-select" id="Sectionlist">
                                        <option value="" selected disabled hidden>Select a Section</option>
                                    </select>
                                    <label for="Sectionlist">Section</label>
                                    <span asp-validation-for="SectionId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating p-0 col">
                                <input asp-for="Capacity" type="number" class="form-control" placeholder="Capacity">
                                <label for="Capacity">Capacity</label>
                                <span asp-validation-for="Capacity" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <select asp-for="IsAvailable" class="form-select" aria-label="Floating label select example">
                                        <option selected disabled hidden>Select a Status</option>
                                        <option value="true">Available</option>
                                        <option value="false">Occupied</option>
                                    </select>
                                    <label for="IsAvailable">Status</label>
                                    <span asp-validation-for="IsAvailable" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-end border-0">
                            <button class="btn update-button" type="submit" id="submitTableForm">Save</button>
                            <button type="button" class="btn cancel-button" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var selectedSectionId = '@Model.SectionId';
    var tableId = '@Model.Id';

    $.getJSON('@Url.Action("GetAllSections", "TableSection")', function (sections) {
        $('#Sectionlist').empty().append('<option selected disabled hidden>Select Section</option>');
        $.each(sections, function (i, section) {
            var option = $('<option>', {
                value: section.id,
                text: section.name
            });
            if (section.id == selectedSectionId) {
                option.attr('selected', 'selected');
            }
            $('#Sectionlist').append(option);
        });
    });
</script>