@model Entity.ViewModel.TableSectionViewModel;
@{
    var PageSize = Model.PageSize;
    var PageIndex = Model.PageIndex;
    var TotalPage = Model.TotalPage;
    var SearchString = Model.SearchString;
    var TotalItems = Model.TotalItems;
}
<section class="table-responsive">
    @if (Model.Tables.Count == 0)
    {
        <div class="d-flex justify-content-center align-items-center mt-5">
            <p>Table Not Found</p>
        </div>
    }
    else
    {
        <table class="table user-table mb-0 menu-table">
            <thead>
                <tr>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        </div>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider menuItems" id="tableList">
                @for (var i = 0; i < Model.Tables.Count; i++)
                {
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input tableCheckBox" value="@Model.Tables[i].Id" type="checkbox"
                                    value="" id="flexCheckDefault" />
                            </div>
                        </td>
                        <td>@Model.Tables[i].Name</td>
                        <td>@Model.Tables[i].Capacity</td>
                        <td>
                            @if ((bool)@Model.Tables[i].IsAvailable)
                            {
                                <div class="active-status">Available</div>
                            }
                            else
                            {
                                <div class="inActive-status">Occupied</div>
                            }
                        </td>
                        <td>
                            <button type="button" class="btn editTableBtn" data-id="@Model.Tables[i].Id">
                                <i class="bi bi-pen m-1 edit-icon"></i>
                            </button>
                            <button type="button" class="btn deleteTable" value="@Model.Tables[i].Id">
                                <i class="bi bi-trash m-1 delete-icon"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end align-items-center mt-2">
            <p class="mb-0">Table Per page</p>
            <select class="ms-3 form-select w-auto" aria-label="Default select example" id="pageSizeTable">
                <option value="5" selected="@(PageSize == 5 ? true : false)">5</option>
                <option value="10" selected="@(PageSize == 10 ? true : false)">10</option>
                <option value="15" selected="@(PageSize == 15 ? true : false)">15</option>
            </select>
            <span class="mb-0 ms-2 me-2 d-none d-md-block" id="showing">Showing @(Math.Min(((PageIndex - 1) * PageSize) + 1,
                TotalItems)) -
            @(Math.Min(PageIndex * PageSize, TotalItems)) of @TotalItems</span>
        @if (PageIndex > 1)
            {
                <a class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" name="PageIndex" id="Previous">
                    <i class="fa fa-chevron-left"></i>
                </a>
            }
            else
            {
                <button class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" name="PageIndex" hidden>
                    <i class="fa fa-chevron-left"></i>
                </button>
            }

            @if (PageIndex < TotalPage)
            {
                <a class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" name="PageIndex" id="Next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            }
            else
            {
                <button class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" name="PageIndex" hidden>
                    <i class="fa fa-chevron-right"></i>
                </button>
            }
        </div>
    }
</section>
<div id="AddTablePartial">


</div>
@* Delete Table Model*@
<div class="modal fade" id="deleteTableModal" tabindex="-1" aria-labelledby="deleteTableLable" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="deleteTableLable">
                    Delete Confirmation
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-1">
                <i class="fa-solid fa-triangle-exclamation fa-2xl" style="color: #FFD43B;"></i>
                <p class="fw-bold mb-0">
                    Are you sure you want to delete this table?
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" id="deleteTableBtn" class="btn update-button">Yes</button>
                <button type="button" class="btn cancel-button" data-bs-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>

@* Delete Multiple Table Model*@
<div class="modal fade" id="deleteMultipleTableModal" tabindex="-1" aria-labelledby="deleteMultiplTableLable"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="deleteTableLable">
                    Multiple Delete Confirmation
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-1">
                <i class="fa-solid fa-triangle-exclamation fa-2xl" style="color: #FFD43B;"></i>
                <p class="fw-bold mb-0">
                    Are you sure you want to delete these tables?
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" id="multiDeleteTableBtn" class="btn update-button">Yes</button>
                <button type="button" class="btn cancel-button" data-bs-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
   $(document).ready(function () {
    var deleteTableId;
    var ajaxRequest;
    var pageIndex = 1;

    // Show delete table modal
    $(".deleteTable").click(function () {
        deleteTableId = $(this).val();
        $('#deleteTableModal').modal('show');
    });

    // Handle delete table action
    $('#deleteTableBtn').click(function () {
        $.ajax({
            url: '/TableSection/DeleteTable',
            type: 'post',
            data: { id: deleteTableId },
            success: function (response) {
                if (response == null) {
                    window.location.href = "/Auth/Login";
                    toastr.error("Your Session is Expired. Please Login Again!");
                } else if (response.isSuccess) {
                    GetFilteredItems();
                    toastr.success(response.message);
                } else {
                    toastr.error(response.message);
                }
                $("#deleteTableModal").modal('hide');
            },
            error: function (xhr, status, error) {
                console.error("An error occurred: " + error);
                toastr.error("An error occurred while deleting the table. Please try again.");
            }
        });
    });

    // Handle multiple delete action
    var deleteTableIds = [];
    $('#tableList').on("click", ".tableCheckBox", function () {
        var tableId = $(this).val();
        if (this.checked) {
            deleteTableIds.push(parseInt(tableId));
        } else {
            deleteTableIds = deleteTableIds.filter(id => id != parseInt(tableId));
        }
    });

    $('#multiDeleteTableBtn').click(function () {
        if (deleteTableIds.length == 0) {
            toastr.warning("Select at Least One Item");
        } else {
            $('#deleteMultipleTableModal').modal('show');
        }
    });

    $('#multiDeleteTableBtn').click(function () {
        $.ajax({
            url: '/TableSection/MultiDeleteTable',
            type: 'POST',
            data: {
                itemIds: deleteTableIds
            },
            success: function (response) {
                if (response == null) {
                    window.location.href = "/Auth/Login";
                    toastr.error("Your Session is Expired. Please Login Again!");
                } else if (response.isSuccess) {
                    GetFilteredItems();
                    toastr.success(response.message);
                } else {
                    toastr.error(response.message);
                }
                $("#deleteMultipleTableModal").modal('hide');
            },
            error: function (xhr, status, error) {
                console.error("An error occurred: " + error);
                toastr.error("An error occurred while deleting the tables. Please try again.");
            }
        });
    });

    function GetFilteredItems() {
        var SearchString = $("#searchString").val();
        var pageSize = $("#pageSizeTable").val();
        if (ajaxRequest && ajaxRequest.readyState !== 4) {
            ajaxRequest.abort();
        }
        ajaxRequest = $.ajax({
            url: "/TableSection/GetTablesBySectionId",
            type: "GET",
            data: {
                sectionId: sectionId,
                pageIndex: pageIndex,
                pageSize: pageSize,
                searchString: SearchString
            },
            success: function (data) {
                $("#tableList").html(data);
            },
            error: function (xhr, status, error) {
                console.error("An error occurred: " + error);
                toastr.error("An error occurred while fetching the items. Please try again.");
            }
        });
    }

    $('#pageSizeTable').change(function () {
        GetFilteredItems();
    });

    $("#Previous").click(function () {
        pageIndex -= 1;
        GetFilteredItems();
    });

    $('#Next').click(function () {
        pageIndex += 1;
        GetFilteredItems();
    });
});
</script>