@{
    ViewData["Title"] = "TableSection";
}
@model Entity.ViewModel.TableSectionViewModel;

<div class="col-12">
    <h2 style="color: #0066A7;">Sections / Tables</h2>
    <section>
        <div class="row p-2 m-3" style="border-radius: 5px;">
            <aside class="col-md-3 col-xl-2" style="background-image: linear-gradient(to right, white, #f2f2f2);">
                <!-- Section header -->
                <div class="d-flex flex-wrap justify-content-between align-items-center pt-3 pb-4"
                    style="color: #0066A7;">
                    <h5>Sections</h5>
                    <i class="cat-i fa-regular fa-square-plus" style="height: 30px; width:30px;" data-bs-toggle="modal"
                        data-bs-target="#sectionModal" onclick="openAddEditModal(0)"></i>
                </div>
                <div id="sectionList">
                    @Html.Partial("_SectionList", Model.Sections)
                </div>
            </aside>
            <div class="col-md-9 col-xl-10 border-custom bg-white">
                <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
                    <!-- table header -->
                    <div>
                        <h5 class="p-2 mb-0" style="color:#0066A7">Tables</h5>
                    </div>
                    <div class="upper-div d-flex justify-content-end align-items-center">
                        <div class="d-flex justify-content-center align-items-center"></div>
                        <div class="search-box" style="margin-right: 13px;">
                            <input type="text" name="search" id="searchInput" placeholder="Search">
                            <i class="fa-solid fa-magnifying-glass search-btn part-2"></i>
                        </div>
                        <button id="multiDeleteTableBtn">
                            <i class="bi bi-trash m-1 massdelete" style="cursor: pointer; color: #adadad;"></i>
                        </button>
                        <a href="javascript:void(0);" style="text-decoration: none; color: inherit;">
                            <button class="btn btn-primary addTableBtn"
                                style="border-radius: 5px;  margin:5px; height:43px;">
                                <span class="part-1"><i class="fa-solid fa-plus "></i></span>
                                <span class="part-2"> New Table </span>
                            </button>
                        </a>
                    </div>
                </div>
                @* 
                       
                        <button id="multiDeleteTableBtn">
                            <i class="bi bi-trash m-1 massdelete" style="cursor: pointer; color: #adadad;"></i>
                        </button>
                        <a href="javascript:void(0);"
                            class="btn btn-primary d-flex addTableBtn justify-content-center align-items-center"
                            style="text-decoration: none; color: inherit;"></a>
                        <button class="addTableBtn" style="border-radius: 5px;  margin:5px;">
                            <span class="part-1"><i class="fa-solid fa-plus "></i></span>
                            <span class="part-2"> New Table </span>
                        </button>
                        </a>
                        @* <button class="fill-btn addTableBtn">
                            <i class="fa-solid fa-plus"></i> New Table
                        </button> *@
                @* </div>  *@
                <!-- Items Table -->
                <div id="tableList">
                    @Html.Partial("_TableList", Model)
                </div>
            </div>
        </div>
</div>
</section>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            
            function openAddEditModal(id) {
                $.get('@Url.Action("AddEditSection", "TableSection")' + '?id=' + id, function (data) {
                    $('#modalContent').html(data);
                    $('#sectionModal').modal('show');
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    handleAjaxError(jqXHR, textStatus, errorThrown, "Failed to load section form. Please try again.");
                });
            }

            window.openAddEditModal = openAddEditModal;

            $(document).on('submit', '#addEditSectionForm', function (event) {
                event.preventDefault();
                var form = $(this);
                var formData = form.serialize();
                var url = form.attr('action');
                $.ajax({
                    url: url,
                    type: form.attr('method'),
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#sectionModal').remove();
                            $('.modal-backdrop').remove();
                            GetFilteredSections();
                            toastr.success(response.message);
                        } else {
                            toastr.error(response.message);
                            $('#modalContent').html(response.html);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        handleAjaxError(jqXHR, textStatus, errorThrown, "An error occurred. Please try again.");
                    }
                });
            });

            function GetFilteredSections() {
                $.ajax({
                    url: "/TableSection/GetAllSectionsForFilter",
                    type: "GET",
                    success: function (data) {
                        $("#sectionList").html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        handleAjaxError(jqXHR, textStatus, errorThrown, "An error occurred while fetching the sections. Please try again.");
                    }
                });
            }

            var sectionId = '@Model.Sections.FirstOrDefault()?.Id';
            $(".addTableBtn").click(function () {
                $.get('@Url.Action("AddNewTable", "TableSection")', function (data) {
                    console.log("Add data")
                    $("#AddTablePartial").html(data);
                    $("#addTableModal").modal('show');
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    handleAjaxError(jqXHR, textStatus, errorThrown);
                });
            });

            $(document).on('submit', "#addNewTableForm", function (event) {
                event.preventDefault();
                var form = $(this);
                var tableId = form.data("id");
                var url = tableId ? '/TableSection/EditTable' : '/TableSection/AddNewTable';
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: form.serialize(),
                    success: function (response) {
                        if (response.success) {
                            console.log("Saved");
                            GetFilteredItems();
                            toastr.success(response.message);
                            $("#addTableModal").modal('hide');
                        } else {
                            toastr.error(response.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        handleAjaxError(jqXHR, textStatus, errorThrown);
                    }
                });
            });

            $(document).on("click", ".editTableBtn", function () {
                var tableId = $(this).data("id");
                $.get('@Url.Action("EditTable", "TableSection")', { id: tableId }, function (data) {
                    $("#AddTablePartial").html(data);
                    $("#addNewTableForm").data("id", tableId);
                    $("#addTableModal").modal("show");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    handleAjaxError(jqXHR, textStatus, errorThrown);
                });
            });

            var debounce;
            var ajaxRequest;
            $(document).on('click', '.section', function () {
                sectionId = $(this).data("id");
                $.ajax({
                    url: '/TableSection/GetTablesBySectionId',
                    type: 'GET',
                    data: { sectionId: sectionId, pageSize: @Model.PageSize, pageIndex: @Model.PageIndex, searchInput: "" },
                    success: function (response) {
                        $("#tableList").html(response);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        handleAjaxError(jqXHR, textStatus, errorThrown);
                    }
                });
            });

            var pageIndex = @Model.PageIndex;
            function GetFilteredItems() {
                var searchInput = $("#searchInput").val();
                var pageSize = $("#pageSizeTable").val();
                if (ajaxRequest && ajaxRequest.readyState !== 4) {
                    ajaxRequest.abort();
                }
                console.log("GetFilteredItems Item");
                ajaxRequest = $.ajax({
                    url: "/TableSection/GetTablesBySectionId",
                    type: "GET",
                    data: {
                        sectionId: sectionId,
                        pageIndex: pageIndex,
                        pageSize: pageSize,
                        searchInput: searchInput
                    },
                    success: function (data) {
                        $("#tableList").html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        handleAjaxError(jqXHR, textStatus, errorThrown);
                    }
                });
            }

            $('#searchInput').keyup(function () {
                clearTimeout(debounce);
                pageIndex = 1;
                pageSize = @Model.PageSize;
                debounce = setTimeout(() => {
                    GetFilteredItems();
                }, 600);
            });

            function handleAjaxError(xhr, Status, error) {
                if (xhr.status === 401) {
                    toastr.error("You are not authenticated. Please log in.");
                } else if (xhr.status === 403) {
                    toastr.error(xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : "You are not authorized to perform this action.");
                    $('.modal-backdrop').remove();
                } else {
                    toastr.error("An error occurred while processing your request. Please try again.");
                    console.error("Error details:", status, error, xhr.responseText);
                }
            }
        });
    </script>
}