@model Entity.ViewModel.MenuItemViewModel;
<partial name="_ValidationScriptsPartial" />

<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="AddItemModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header border-0" style="color:grey;">
                <h1 class="modal-title fs-5" id="AddItemModelLabel">
                    Add New Menu Item
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
</button>
            </div>

            <div class="modal-body text-center p-3" style="color:rgb(63, 63, 63);">
                <form id="addItemForm" enctype="multipart/form-data" method="post">
                    <div class="row p-2">
                        <div class="col-md-7">
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <select class="form-select" id="" asp-for="CategoryId" name="CategoryId">
                                                <option value="">Select Categories</option>
                                                @foreach (var categories in Model.Categories)
                                                {
                                                    <option value="@categories.Id">@categories.Name</option>
                                                }
                                            </select>
                                            <label for="categories">Categories*</label>
                                            <span class="text-danger ms-2"
                                                asp-validation-for="CategoryId"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="Name" placeholder="name" asp-for="Name" name="Name"/>
                                            <label for="name">Name*</label>
                                            <span class="text-danger ms-2" asp-validation-for="Name"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <select class="form-select" id="select-role" asp-for="Type" name="Type">
    <option value="">Type</option>
    <option value="true">Veg</option>
    <option value="false">Non-Veg</option>
</select>
                                                    <label for="Type">Item Type*</label>
                                                    <span class="text-danger ms-2"
                                                        asp-validation-for="Type"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating ">
                                                    <input type="number" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" class="form-control" id="rate" placeholder="name"
                                                        asp-for="Rate" name="Rate"/>
                                                    <label for="Rate">Rate*</label>
                                                    <span class="text-danger ms-2"
                                                        asp-validation-for="Rate"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input type="number" class="form-control" id="Quantity" name="Quantity"
                                                        placeholder="Quantity" asp-for="Quantity" />
                                                    <label for="Quantity">Quantity*</label>
                                                    <span class="text-danger ms-2"
                                                        asp-validation-for="Quantity"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <select class="form-select" id="Unit" asp-for="UnitId" name="Unitid">
                                                        <option value="">Select a Unit</option>
                                                        @foreach (var unit in Model.Units)
                                                        {
                                                            <option value="@unit.Id">@unit.Name</option>
                                                        }
                                                    </select>
                                                    <label for="Unit">Unit*</label>
                                                    <span class="text-danger ms-2"
                                                        asp-validation-for="UnitId"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-6 pt-3">
                                        <div class="row d-flex justify-content-center align-items-center" style="margin-left: 2px;">
                                            <div class="form-check form-switch mb-0 col-md-6 d-flex justify-content-center align-items-center" style="gap:5px;">
                                                <input type="checkbox" class="form-check-input mt-0 large-switch" asp-for="IsAvailable"
                                                    value="true" name="IsAvailable" style="height: 30px; width: 50px;"/>
                                                <input type="hidden" value="false" />
                                                <label for="">Available</label>
                                                <span class="text-danger ms-2" asp-validation-for="IsAvailable"></span>
                                            </div>
                                            <div class="form-check form-switch mb-0 col-md-6 d-flex justify-content-center align-items-center" style="gap:4px;">
                                                <input type="checkbox" class="form-check-input mt-0 large-switch" asp-for="IsDefaultTax"
                                                    value="true" name="IsDefaultTax" style="height: 30px; width: 50px;"/>
                                                <input type="hidden" value="false" />
                                                <label for="">DefaultTax</label>
                                                <span class="text-danger ms-2" asp-validation-for="IsDefaultTax"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input type="number" step=".01" class="form-control" id="texPercentage" asp-for="TaxPercentage"
                                                        placeholder="texPercentage" name="Taxpercentage"/>
                                                    <label for="texPercentage">Tax Percentage</label>
                                                    <span class="text-danger ms-2" asp-validation-for="TaxPercentage"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="shortCode" asp-for="ShortCode"
                                                        placeholder="shortCode" name="Shortcode"/>
                                                    <label for="shortCode">Short Code </label>
                                                    <span class="text-danger ms-2" asp-validation-for="ShortCode"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="floatingTextarea" asp-for="Description" name="Description" style="height: 90px;"></textarea>
                                    <label for="floatingTextarea">Description</label>
                                    <span class="text-danger ms-2" asp-validation-for="Description"></span>
                                </div>
                            </div>
                            <label class="d-flex justify-content-start">Upload Image</label>
                            <div class="mb-3 upload-container d-flex flex-col justify-content-center align-tiems-center">
                                <label for="imageInput" class="mx-1">
                                    @* <img src="~/images/cloud-upload.svg" alt="upload-icon" class="mx-4" /> *@
                                    <i class="fa-solid fa-cloud-arrow-up mx-4"></i>
                                    <br />
                                    Drag and Drop or Browse files
                                </label>
<input id="imageInput" asp-for="ProfileImagePath" type="file" name="ProfileImagePath" accept="image/*" class="input-file" hidden />                            
    <span id="file-upload-name"></span>
                            </div>
                        </div>
                        <div class="col-md-5 border rounded-3 p-2" style="background-color: #fcf4e6;">
                            <div>
                                <select class="form-select" aria-label="Default select example" id="ModifierGroups">
                                    <option value="" selected>Select Modifier Group(s)</option>
                                    @foreach (var mg in Model.ModifierGroups)
                                    {
                                        <option value="@mg.Id">@mg.Name</option>
                                    }
                                </select>
                            </div>
                            <span class="text-danger ms-2"></span>

                            <div id="listModifiers">
                                
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end gap-2"style="padding-right:0;">
                        <button class="btn update-button" type="submit" id="addItemBtn" style=" width: 80px;">Save</button>
                        <button class="btn cancel-button" type="button" data-bs-dismiss="modal" style=" width: 80px;">Cancel</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
       $(document).ready(function () {
    $("#ModifierGroups").change(function () {
        var id = $(this).val();
        var label = $("#ModifierGroups option:selected").text();
        $.ajax({
            url: '@Url.Action("GetModifiersByGroup", "Menu")',
            type: 'GET',
            data: { id: id, name: label },
            success: function (response) {
                console.log(response);
                $("#listModifiers").append(response);
            },
                error: handleAjaxError
        });
    });

    $(document).on("click", ".remove-modifier", function () {
        var id = $(this).data("id");
        $("#modifier-group-" + id).remove();
    });

    $("#addItemForm").submit(function (event) {
        event.preventDefault();
        var form = $("#addItemForm")[0];
        var formData = new FormData(form);
        var modifiers = [];
        $("#listModifiers .modifier-group").each(function () {
            var name = $(this).find(".modifierGrp-name").data("name");
            var modifierGroupId = $(this).find(".modifierGrp-name").data("id");
            var minValue = parseInt($(this).find(".min-value").val(), 10);
            var maxValue = parseInt($(this).find(".max-value").val(), 10);

            modifiers.push({
                ModifierGroupId: modifierGroupId,
                Name: name,
                Minselectionrequired: minValue,
                Maxselectionrequired: maxValue
            });
        });

        formData.append("ItemModifiers", JSON.stringify(modifiers));
        $.ajax({
            url: '/Menu/AddItem',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.isSuccess) {
                    GetFilteredItems();
                    $("#addItemModal").remove(); 
                $('.modal-backdrop').remove();
                    toastr.success(response.message)
                    @* toastr.success(response.message);
                    $("#addItemModal").modal("hide");
                    location.reload(); *@
                } else {
                    if (response.isValid == false) {
                        toastr.warning(response.message);
                    } else {
                        toastr.error(response.message);
                    }
                }
            },
                error: handleAjaxError;
        });
    });

    function GetFilteredItems() {
        var SearchString = $("#searchString").val();
        var pageSize = $("#pageSizedropdown").val();
        if (ajaxRequest && ajaxRequest.readyState !== 4) {
            ajaxRequest.abort();
        }
        ajaxRequest = $.ajax({
            url: "/Menu/GetItemsByCategory",
            type: "GET",
            data: {
                categoryId: categoryId,
                pageIndex: pageIndex,
                pageSize: pageSize,
                searchString: SearchString
            },
            success: function (data) {
                $("#itemList").html(data);
            },
                error: handleAjaxError
        });
    }

    function showFileName() {
        var input = document.getElementById('imageInput');
        var fileNameSpan = document.getElementById('file-upload-name');
        if (input.files && input.files[0]) {
            fileNameSpan.textContent = input.files[0].name;
            fileNameSpan.style.display = 'block';
        } else {
            fileNameSpan.style.display = 'none';
        }
    }
});
</script>