@model Entity.ViewModel.ItemTabViewModel
@{
    var PageSize = Model.PageSize;
    var PageIndex = Model.PageIndex;
    var TotalPage = Model.TotalPage;
    var SearchString = Model.SearchString;
    var TotalItems = Model.TotalItems;
}
<style>
    .menuItems td th {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        color: gray !important;
        padding: 10px;
        white-space: nowrap;
    }
</style>
<section class="table-responsive">
    @if (Model.itemList.Count == 0)
    {
        <div class="d-flex justify-content-center align-items-center mt-5">
            <img src="~/assets/emptytable.png" />
        </div>
    }
    else
    {
        <table class="table menuItems mb-0">
            <thead>
                <tr>
                    <th style="width:8px;padding:5px;">
                        @* <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        </div> *@
                    </th>
                    <th>Name</th>
                    <th>ItemType</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Available</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider " id="itemsList">
                @for (var i = 0; i < Model.itemList.Count; i++)
                {
                    <tr>
                        <td style="padding:3px;">
                            <div class="form-check">
                                <input class="form-check-input itemCheckBox" value="@Model.itemList[i].Id" type="checkbox"
                                    value="" id="flexCheckDefault" style="border:1px solid rgb(85, 85, 85);" />
                            </div>
                        </td>
                        <td >
                            <span class="me-2">
                                <img src="~/assets/@(Model.itemList[i].Image != null ? Model.itemList[i].Image : "dining-menu.png")"
                                    alt="dining-menu" class="dining-menu-icon user-profile-img rounded-circle" />
                            </span><span>
                                @Model.itemList[i].Name
                            </span>
                        </td>
                        <td>
                            <div class="">
                                @if ((bool)Model.itemList[i].Type)
                                {
                                    <img src="~/assets/veg-icon.svg" class="veg-icon" alt="veg-icon" />
                                }
                                else
                                {
                                    <img src="~/assets/non-veg-icon.svg" class="veg-icon" alt="veg-icon" />
                                }
                            </div>
                        </td>
                        <td>@Model.itemList[i].Rate</td>
                        <td>@Model.itemList[i].Quantity</td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input switch-btn" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault" checked="@Model.itemList[i].IsAvailable" />
                            </div>
                        </td>
                        <td>
                            @* <div class="d-flex justify-content-center align-items-center p-0 m-0"> *@
                            <button type="button" class="btn border-0 editItemBtn p-0" data-itemid="@Model.itemList[i].Id">
                                <i class="bi bi-pen m-2 edit-icon"></i>
                            </button>
                            <button type="button" class="btn border-0 deleteItem p-0" value="@Model.itemList[i].Id">
                                <i class="bi bi-trash m-2 delete-icon"></i>
                            </button>
                            @* </div> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end align-items-center mt-2" style="color: black !important;">
            <p class="mb-0">Items Per page</p>
            <select class="ms-3 form-select w-auto" aria-label="Default select example" id="pageSizedropdown">
                <option value="5" selected="@(PageSize == 5 ? true : false)">5</option>
                <option value="10" selected="@(PageSize == 10 ? true : false)">10</option>
                <option value="15" selected="@(PageSize == 15 ? true : false)">15</option>
            </select>
            <span class="mb-0 ms-2 me-2 d-none d-md-block" id="showing">Showing @(Math.Min(((PageIndex - 1) * PageSize) + 1,
                            TotalItems)) -
            @(Math.Min(PageIndex * PageSize, TotalItems)) of @TotalItems</span>
        @if (PageIndex > 1)
            {
                <a class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" name="PageIndex" id="Previous">
                    <i class="fa fa-chevron-left"></i>
                </a>
            }
            else
            {
                <button class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" name="PageIndex" hidden>
                    <i class="fa fa-chevron-left"></i>
                </button>
            }

            @if (PageIndex < TotalPage)
            {
                <a class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" name="PageIndex" id="Next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            }
            else
            {
                <button class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" name="PageIndex" hidden>
                    <i class="fa fa-chevron-right"></i>
                </button>
            }
        </div>
    }
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@* DeleteItemModel*@
<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:grey;">
                    Delete Confirmation
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-1" style="color:grey;">
                <i class="fa-solid fa-triangle-exclamation fa-2xl pb-2" style="color: #FFD43B;"></i>
                <p class="mb-0">
                    Are you sure you want to delete this Item?
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" id="deleteItemBtn" class="btn update-button" style=" width: 70px;">Yes</button>
                <button type="button" class="btn cancel-button" data-bs-dismiss="modal" style=" width: 70px;">
                    No
                </button>
            </div>
        </div>
    </div>
</div>

@* Delete Multiple Item Model*@
<div class="modal fade" id="deleteMultipleItemModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title " id="exampleModalLabel" style="color:grey;">
                    Delete Confirmation
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" style="color:grey;">
                <i class="fa-solid fa-triangle-exclamation fa-2xl pb-2" style="color: #FFD43B;"></i>
                <p class="mb-0">
                    Are you sure you want to delete these Items?
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" id="multiDeleteItemBtn" class="btn update-button" style=" width: 70px;">Yes</button>
                <button type="button" class="btn cancel-button" data-bs-dismiss="modal" style=" width: 70px;"> 
                    No
                </button>
            </div>
        </div>
    </div>
</div>
<div id="AddItemPartial">
</div>
<div id="EditItemPartial">
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    var debounce;
    var ajaxRequest;
    @* Delete Item Script *@
      var deleteItemIds = [];
    $('#itemsList').on("click", ".itemCheckBox", function () {
        var itemId = $(this).val();
        if (this.checked == true) {
            deleteItemIds.push(parseInt(itemId));
            @* console.log(deleteItemIds) *@
        }
        else {
            deleteItemIds = deleteItemIds.filter(id => id != parseInt(itemId));
        }
    })
    var deleteItemId;
    $(".deleteItem").click(function () {
        deleteItemId = $(this).val();
        $('#deleteItemModal').modal('show');
    })
    $('#deleteItemBtn').click(function () {
        $.ajax({
            url: '/Menu/DeleteMenuItem',
            type: 'post',
            data: { id: deleteItemId },
            success: function (response) {
                if (response == null)
                    window.location.href = "/Authentication/Login";
                if (response.isSuccess) {
                    GetFilteredItems();
                    toastr.success(response.message, {
                        closeButton: true,
                        progressBar: true,
                        timeOut: 2000,
                        positionClass: "toast-top-right"
                    });

                } else {
                    toastr.error(response.message, {
                        closeButton: true,
                        progressBar: true,
                        timeOut: 2000,
                        positionClass: "toast-top-right"
                    });
                }
                $("#deleteItemModal").modal('hide');
            }
        })
    })

    @* Pagination Script *@
    var pageIndex = @Model.PageIndex;

    function GetFilteredItems() {
        var SearchString = $("#searchString").val();
        var pageSize = $("#pageSizedropdown").val();
        if (ajaxRequest && ajaxRequest.readyState !== 4) {
            ajaxRequest.abort();
        }
        ajaxRequest = $.ajax({
            url: "/Menu/GetItemsByCategory",
            type: "GET",
            data: {
                categoryId: categoryId,
                pageIndex: pageIndex,
                pageSize: pageSize,
                searchString: SearchString
            },
            success: function (data) {
                $("#itemList").html(data);
            }
        })
    }

    $('#pageSizedropdown').change(function () {
        pageIndex = 1;
        console.log(pageIndex)
        var pageSize = $(this).val();
        GetFilteredItems();
    })

    $('#searchString').keyup(function () {
        clearTimeout(debounce);
        pageIndex = 1
        pageSize = @Model.PageSize;
        debounce = setTimeout(() => {
            GetFilteredItems();
        }, 600)
    })

    $("#Previous").click(function () {
        pageIndex -= 1;
        GetFilteredItems()
    })

    $('#Next').click(function () {
        $("#PreviousBtn").attr('disabled', false)
        pageIndex += 1;
        GetFilteredItems()
    })

    $('.editItemBtn').click(function () {
        var itemId = $(this).data("itemid");
        console.log(itemId);
        $.ajax({
            url: "/Menu/EditMenuItem",
            type: "GET",
            data: { itemId: itemId },
            success: function (data) {
                if (data == null)
                    window.location.href = "/Authentication/Login"
                $("#EditItemPartial").html(data);
                $("#EditItemModel").modal('show');
            }
        })
    })
    @* EditItem *@
        $(document).ready(function () {
            $('#editItemForm').on('submit', function (e) {
                e.preventDefault();
                var formData = new FormData(this);
                @* console.log("EditITemFormData", formData) *@
                    $.ajax({
                        type: "POST",
                        url: $(this).attr('action'),
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            if (response.success) {
                                $('#editItemModal').modal('hide');
                                location.reload();
                            } else {
                                toastr.error(response.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Error while editing the item:", status, error);
                        }
                    });
            });
        });
</script>