@model List<Entity.ViewModel.MenuModifierGroupViewModel>

<div class="category-list">
    @foreach (var modifierGroup in Model)
    {
        <div class="d-flex flex-wrap justify-content-between align-items-center item-category-btn p-2 my-2 modifierGroup"
            data-id="@modifierGroup.Id">
            <div class="category-btn border-0 bg-light">
                <h6 class=" mb-0">
                    <i class="fa-solid fa-grip-vertical"></i>
                    @modifierGroup.Name
                </h6>
            </div>
            <span class="edit-delete-icon">
                <a href="javascript:void(0);" data-id="@modifierGroup.Id" class="edit-btn"
                    style="text-decoration: none; color: inherit;">
                    <i class="bi bi-pen m-1 edit-icon " data-bs-toggle="modal" data-bs-target="#editModifierGroupModal" data-id="@modifierGroup.Id"></i>
                    @* <button class="btn btn-sm btn-primary editModifierGroupBtn" data-id="@modifierGroup.Id">Edit</button> *@
                </a>
                <i class="bi bi-trash m-1 delete-icon delete-modifiergroup" 
                    id="deleteModifierGroup" data-id="@modifierGroup.Id" style="color:black"></i>
            </span>
        </div>
    }
</div>

<!-- Delete Modifier Group Modal -->
<div class="modal fade" id="deleteModifierGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel" style="color:grey;">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-1" style="color:grey;">
                <i class="fa-solid fa-triangle-exclamation fa-2xl" style="color: #FFD43B;"></i>
                <p class="mb-0">
                    Are you sure you want to delete this ModifierGroup?
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" class="btn update-button" id="confirmDeleteModifierBtn" style="width: 80px;">Yes</button>
                <button type="button" class="btn cancel-button" data-bs-dismiss="modal" style="width: 80px;">No</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script> 
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    var modifierGroupId = @Model.First().Id;

    $(".modifierGroup").first().addClass("active-new");
    $(".modifierGroup").click(function () {
        $(".modifierGroup").removeClass("active-new");
        $(this).addClass("active-new");
    });
</script>