@using Entity.Data
@model List<Modifier>

<div class="container-fluid">
    <div class="upper-div d-flex justify-content-end">
        <div class="d-flex">
            <div class="search-box">
                <input type="text" name="search" id="searchInput" placeholder="Search"
                    style="height: 50px; width: 250px; border: 1px solid #adadad; border-radius: 5%;">
                <i class="fa-solid fa-magnifying-glass search-btn"></i>
            </div>
            <button style="width: 50px; border: 1px solid #adadad; margin-right: 10px;" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <i class="fa-solid fa-trash" style="cursor: pointer; color: #adadad;"></i>
            </button>
            <a>
                <button class="add-user-btn"
                    style=" border: 1px solid #adadad; border-radius: 5%; background-color:#0066A7; color: white;">
                    <span class="span1">Add Modifier</span>
                    <span class="span2">+</span>
                </button>
            </a>
        </div>
    </div>

    <div class="table table-responsive mt-3">
        <table class="table" id="tbl">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" name="" id="">
                        Name
                    </th>
                    <th>Unit</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="d-flex align-items-center" style="gap: 10px;">
                            <input type="checkbox" name="" id="">
                            @item.Name
                        </td>
                        <td>
                            @item.Unit?.ShortName
                        </td>
                        <td>@item.Rate</td>
                        <td>@item.Quantity</td>
                        <td>
                            <a href="./editUser.html" style="color: black;">
                                <i class="fa-solid fa-pencil mr-2"></i>
                            </a>
                            <i class="fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                style="cursor: pointer;"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5" id="staticBackdropLabel">Delete Confirmation</h5>
                    </div>
                    <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                        <img src="@Url.Content("~/images/toppng.com-warning-icon-2400x2400.png")" alt="Warning"
                            height="40px" width="40px">
                        <p>Are you sure you want to delete the item?</p>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn"
                            style="height: 40px; width: 80px; background-color: #0066A7; color: white;">Yes</button>
                        <button type="button" class="btn" data-bs-dismiss="modal"
                            style="height: 40px; width: 80px; color: #0066A7; background-color: white; border: 1px solid #0066A7;">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            console.log("Search Input Value: ", value);
            $("#tbl tbody tr").filter(function () {
                const rowText = $(this).text().toLowerCase();
                const isVisible = rowText.indexOf(value) > -1;
                console.log("Row Text: ", rowText, "Visible: ", isVisible);
                $(this).toggle(isVisible);
            });
        });
    });
</script>