@using Entity.ViewModel;
@model MenuItemViewModel

<style>
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
    }
</style>

<div class="modal-header">
    <h5 class="modal-title">Edit Menu Item</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="editItemForm" method="post" asp-action="EditItem" asp-controller="Menu">
<div class="row">
            <div class="col-xl-9">
                <div class="col-xl-12">
                    <div class="row" style="row-gap: 10px;">
                        <div class="form-floating col-lg-6 col-12">
                            <select id="Category" name="CategoryId" class="form-control" asp-items="ViewBag.Categories"
                                asp-for="CategoryId">
                                <option value="" hidden>Select a Category</option>
                            </select>
                            <label for="Category" class="float">Category*</label>
                            <span asp-validation-for="CategoryId" style="color: red;"></span>
                        </div>
                        <div class="form-floating col-lg-6 col-12">
                            <input type="text" class="form-control twoc" id="Name" asp-for="Name">
                            <label for="Name" class="float">Name*</label>
                            <span asp-validation-for="Name" style="color: red;"></span>
                        </div>
                    </div>
                </div>

                <br>

                <div class="col-xl-12">
                    <div class="row" style="row-gap: 10px;">
                        <div class="form-floating col-xl-3 col-lg-6 col-12">
                            <select id="Type" name="Type" class="form-control" asp-for="Type">
                                <option value="" hidden>Select a Type</option>
                                <option value="true">Veg</option>
                                <option value="false">Non-Veg</option>
                            </select>
                            <label for="Type" class="float">Type*</label>
                        </div>
                        <div class="form-floating col-xl-3 col-lg-6 col-12">
                            <input type="text" class="form-control twoc" id="Rate" asp-for="Rate">
                            <label for="Rate" class="float">Rate*</label>
                            <span asp-validation-for="Rate" style="color: red;"></span>
                        </div>
                        <div class="form-floating col col-xl-3 col-lg-6 col-12">
                            <input type="text" class="form-control twoc" id="Quantity" asp-for="Quantity">
                            <label for="Quantity" class="float">Quantity*</label>
                            <span asp-validation-for="Quantity" style="color: red;"></span>
                        </div>
                        <div class="form-floating col col-xl-3 col-lg-6 col-12">
                            <select id="UnitId" name="UnitId" class="form-control" asp-items="ViewBag.Units"
                                asp-for="UnitId">
                                <option value="" hidden>Select a Unit</option>
                            </select>
                            <label for="UnitId" class="float">Unit*</label>
                            <span asp-validation-for="UnitId" style="color: red;"></span>
                        </div>
                    </div>
                </div>

                <br>

                <div class="col-xl-12">
                    <div class="row" style="row-gap: 10px;">
                        <div class="form-check form-switch col-xl-3 col-lg-6 col-12">
                            <input class="form-check-input larger-checkbox" type="checkbox" id="IsAvailable"
                                asp-for="IsAvailable">
                            <label class="form-check-label" for="IsAvailable">Available</label>
                        </div>
                        <div class="form-check form-switch col-xl-3 col-lg-6 col-12">
                            <input class="form-check-input larger-checkbox" type="checkbox" id="IsDefaultTax"
                                asp-for="IsDefaultTax">
                            <label class="form-check-label" for="IsDefaultTax">Default Tax</label>
                        </div>
                        <div class="form-floating col-xl-3 col-lg-6 col-12">
                            <input type="text" class="form-control twoc" id="TaxPercentage" asp-for="TaxPercentage">
                            <label for="TaxPercentage" class="float">Tax Percentage</label>
                            <span asp-validation-for="TaxPercentage" style="color: red;"></span>
                        </div>
                        <div class="form-floating col-xl-3 col-lg-6 col-12">
                            <input type="text" class="form-control twoc" id="ShortCode" asp-for="ShortCode">
                            <label for="ShortCode" class="float">Short Code</label>
                            <span asp-validation-for="ShortCode" style="color: red;"></span>
                        </div>
                    </div>
                </div>

                <br>

                <div class="col-xl-12">
                    <div class="row" style="row-gap: 10px;">
                        <div class="form-floating col">
                            <input type="text" class="form-control twoc" id="Description" asp-for="Description">
                            <label for="Description" class="float">Description*</label>
                            <span asp-validation-for="Description" style="color: red;"></span>
                        </div>
                    </div>
                </div>

                <input type="hidden" asp-for="Id" />
                <br>
            </div>

            <div class="col-xl-3">
                <div style="background-color: #FDF5E6; height: 100%; width: auto; border-radius: 5px; padding: 10px;">
                    <select data-placeholder="Select Modifier Groups(s)" id="ModifierGroups" name="ModifierGroupIds"
                        class="chosen-select" asp-items="ViewBag.ModifierGroups" multiple>
                    </select>
                    <span asp-validation-for="ModifierGroupIds" style="color: red;"></span>
                    <div id="existing-modifier-groups">
                        @foreach (var group in Model.ModifierGroups)
                        {
                            <div class="modifier-group" data-group-id="@group.Id">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="m-0 p-0">@group.Name</p>
                                    <i class="fa-solid fa-trash" onclick="deleteModifierGroup(@group.Id)"></i>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <select name="ModifierGroups[@group.Id].MinSelectionRequired" class="form-select">
                                            @for (int i = 0; i <= 10; i++)
                                            {
                                                <option value="@i" >@i</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col">
                                        <select name="ModifierGroups[@group.Id].MaxSelectionAllowed" class="form-select">
                                            @for (int i = 0; i <= 10; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <ul>
                                    @foreach (var modifier in group.Modifiers)
                                    {
                                        <div class="d-flex justify-content-between">
                                            <li>@modifier.Name </li>
                                            <li>@modifier.Price.ToString("C")</li>
                                        </div>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
                <input type="hidden" id="removedGroups" name="RemovedGroups" value="" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn"
                style="height: 40px; width: 80px; background-color: #0066A7; color: white;">Save</button>
            <button type="button" class="btn" data-bs-dismiss="modal"
                style="height: 40px; width: 80px; color: #0066A7; background-color: white; border: 1px solid #0066A7;">Cancel</button>
        </div>
    </form>
</div>

<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!",
            width: "100%"
        });

        $('#ModifierGroups').change(function () {
            var selectedGroupIds = $(this).val();
            var lastSelectedGroupId = selectedGroupIds[selectedGroupIds.length - 1];

            if (lastSelectedGroupId && $('#existing-modifier-groups').find(`.modifier-group[data-group-id='${lastSelectedGroupId}']`).length == 0) {
                $.ajax({
                    url: '@Url.Action("SelectedModifiers", "Menu")',
                    type: 'GET',
                    data: { groupId: lastSelectedGroupId },
                    success: function (result) {
                        console.log('AJAX Success:', result);

                        // Append the result to the container
                        $('#existing-modifier-groups').append(result);

                        // Reinitialize Chosen
                        $(".chosen-select").chosen({
                            no_results_text: "Oops, nothing found!",
                            width: "100%"
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log('AJAX Error:', status, error);
                    }
                });
            }
        });
    });

    function deleteModifierGroup(groupId) {
        // Remove from UI
        $(`.modifier-group[data-group-id='${groupId}']`).remove();
        // Remove from selected groups
        var selectedGroupIds = $('#ModifierGroups').val();
        var index = selectedGroupIds.indexOf(groupId.toString());
        if (index > -1) {
            selectedGroupIds.splice(index, 1);
            $('#ModifierGroups').val(selectedGroupIds).trigger("chosen:updated");
        }
        // Add to removed groups
        var removedGroups = $('#removedGroups').val();
        removedGroups += groupId + ",";
        $('#removedGroups').val(removedGroups);
    }
</script>