@model IEnumerable<Entity.ViewModel.OrderViewModel>
@{
    var PageSize = ViewBag.PageSize;
    var PageIndex = ViewBag.PageIndex;
    var TotalPage = ViewBag.TotalPage;
    var SearchString = ViewBag.SearchString;
}
<table class="table">
    <thead>
        <tr>
            <th>
                Order
                <a href="javascript:void(0)" onclick="toggleSort('orderid')">
                    <i class="fa-solid fa-sort" id="orderIdSortIcon"></i>
                </a>
            </th>
            <th>
                Date
                <a href="javascript:void(0)" onclick="toggleSort('date')">
                    <i class="fa-solid fa-sort" id="dateSortIcon"></i>
                </a>
            </th>
            <th>
                Customer
                <a href="javascript:void(0)" onclick="toggleSort('customername')">
                    <i class="fa-solid fa-sort" id="customerNameSortIcon"></i>
                </a>
            </th>
            <th>Status</th>
            <th>Payment Mode</th>
            <th>Rating</th>
            <th>Total Amount</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.OrderDate?.ToString("yyyy-MM-dd")</td>
                <td>@order.CustomerName</td>
                <td>@order.OrderStatus</td>
                <td>@order.PaymentMethod</td>
                <td></td>
                <td>@order.TotalAmount</td>
                <td>
                    <a href="@Url.Action("Details", "Order", new { id = order.Id })" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

        <div class="d-flex justify-content-end align-items-center mt-2">
            <p class="mb-0">Table Per page</p>
            <select class="ms-3 form-select w-auto" aria-label="Default select example" id="pageSizeTable">
                <option value="5" selected="@(PageSize == 5 ? true : false)">5</option>
                <option value="10" selected="@(PageSize == 10 ? true : false)">10</option>
                <option value="15" selected="@(PageSize == 15 ? true : false)">15</option>
            </select>
            <span>Showing @PageIndex out of <span>@TotalPage</span></span>

    @if (ViewBag.PageIndex > 1)
    {
        <a href="javascript:void(0)" class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" onclick="loadOrders(@ViewBag.PageIndex - 1)">
            <i class="fa fa-chevron-left"></i>
        </a>
    }
    else
    {
        <button class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" hidden>
            <i class="fa fa-chevron-left"></i>
        </button>
    }

    @if (ViewBag.PageIndex < ViewBag.TotalPage)
    {
        <a href="javascript:void(0)" class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" onclick="loadOrders(@ViewBag.PageIndex + 1)">
            <i class="fa fa-chevron-right"></i>
        </a>
    }
    else
    {
        <button class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" hidden>
            <i class="fa fa-chevron-right"></i>
        </button>
    }
</div>