@model IEnumerable<Entity.ViewModel.OrderViewModel>
<style>
    .star-rating {
        position: relative;
        display: inline-block;
        font-size: 20px;
        color: #ffffff;
    }

    .star-rating-filled {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        color: #ffc107;
    }

    .star-rating-blank {
        display: inline-block;
        color: #ffffff;
        -webkit-text-stroke: 1px #fcd560;
    }
</style>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span class="sort-icon">Order
                        <a href="javascript:void(0)" onclick="toggleSort('orderid')">
                            <i class="fa-solid fa-sort" style="color: grey;" id="orderIdSortIcon"></i>
                        </a>
                    </span>
                </th>
                <th>
                    <span class="sort-icon">Date
                        <a href="javascript:void(0)" onclick="toggleSort('date')">
                            <i class="fa-solid fa-sort" style="color: grey;" id="dateSortIcon"></i>
                        </a>
                    </span>
                </th>
                <th>
                    <span class="sort-icon">Customer
                        <a href="javascript:void(0)" onclick="toggleSort('customername')">
                            <i class="fa-solid fa-sort" style="color: grey;" id="customerNameSortIcon"></i>
                        </a>
                    </span>
                </th>
                <th>Status</th>
                <th>Payment Mode</th>
                <th>Rating</th>
                <th>
                    <span class="sort-icon">Total Amount
                        <a href="javascript:void(0)" onclick="toggleSort('totalamount')">
                            <i class="fa-solid fa-sort" style="color: grey;" id="totalamountSortIcon"></i>
                        </a>
                    </span>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.OrderDate?.ToString("yyyy-MM-dd")</td>
                    <td>@order.CustomerName</td>
                    <td>@order.OrderStatus</td>
                    <td>@order.PaymentMethod</td>
                    <td>
                        <div class="star-rating">
                            <div class="star-rating-filled" style="width: @(order.AvgRating * 20)%;">
                                &#9733;&#9733;&#9733;&#9733;&#9733;
                            </div>
                            <div class="star-rating-blank">
                                &#9733;&#9733;&#9733;&#9733;&#9733;
                            </div>
                        </div>
                    </td>
                    <td>@order.TotalAmount</td>
                    <td>
                        <i class="fa-solid fa-file-pdf m-1"></i>
                        <a href="@Url.Action("orderdetails", "order", new { orderId = order.Id })">
                            <i class="fa fa-eye eye-icon m-1"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-end align-items-center mt-2">
    <p class="mb-0">Orders Per page</p>
    <select class="ms-3 form-select w-auto" aria-label="Default select example" id="pageSizeTable"
        onchange="loadOrders(@ViewBag.PageIndex)">
        @if (ViewBag.PageSize == 5)
        {
            <option selected value="5">5</option>
        }
        else
        {
            <option value="5">5</option>
        }
        @if (ViewBag.PageSize == 10)
        {
            <option selected value="10">10</option>
        }
        else
        {
            <option value="10">10</option>
        }
        @if (ViewBag.PageSize == 15)
        {
            <option selected value="15">15</option>
        }
        else
        {
            <option value="15">15</option>
        }
    </select>
    <span class="mb-0 ms-2 me-2 d-none d-md-block" id="showing">Showing @(Math.Min((int)(((ViewBag.PageIndex - 1) *
                ViewBag.PageSize) + 1), (int)ViewBag.TotalItems)) -
        @(Math.Min((int)(ViewBag.PageIndex * ViewBag.PageSize), (int)ViewBag.TotalItems)) of
        @ViewBag.TotalItems</span>

    @if (ViewBag.PageIndex > 1)
    {
        <a href="javascript:void(0)" class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark"
            onclick="loadOrders(@ViewBag.PageIndex - 1)">
            <i class="fa fa-chevron-left"></i>
        </a>
    }
    else
    {
        <button class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" hidden>
            <i class="fa fa-chevron-left"></i>
        </button>
    }

    @if (ViewBag.PageIndex < ViewBag.TotalPage)
    {
        <a href="javascript:void(0)" class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark"
            onclick="loadOrders(@ViewBag.PageIndex + 1)">
            <i class="fa fa-chevron-right"></i>
        </a>
    }
    else
    {
        <button class="bg-light border-1 bg-light mx-2 px-2 btn btn-outline-dark" hidden>
            <i class="fa fa-chevron-right"></i>
        </button>
    }
</div>