@using Entity.Data
@model List<ModifierGroup>


<style>
    * {
        padding: 0;
        margin: 0;
    }

    .main {
        background-color: #F2F2F2;
    }

    .container-fluid {
        padding: 0;
    }

    .items {
        color: #0066A7;
        margin-right: 10px;
        margin-left: 10px;
        gap: 5px;
    }

    .fa-square-plus {
        height: 30px;
        width: 30px;
    }

    .add-user {
        background-color: #0066A7;
        color: white;
        height: 50px;
        width: 150px;
        border: none;
        border-radius: 5%;
    }

    .search-box {
        margin-right: 20px;
    }

    .search-btn {
        margin-left: -30px;
    }

    #search {
        height: 50px;
        width: 200px;
        padding: 5px;
        margin-left: 10px;
    }

    #tbl {
        background-color: white;
    }

    .nav-link {
        margin-top: 5px;
    }

    .sidebar {
        padding: 10px;
    }

    .actv {
        color: #0066A7;
    }

    .normal {
        color: black;
    }

    .nav-link-action {
        display: none;
    }

    .nav-item:hover .nav-link-action {
        display: flex;
    }

    .form-switch .form-check-input {
        background-color: #d6d3d3;
        border: #006098;
        background-image: url(../Images/toggle-icon.svg) !important;
    }

    .form-switch .form-check-input:checked {
        background-color: #006098;
    }

    .cat-list {
        overflow-y: scroll;
    }

    .category-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .category-link {
        flex-grow: 1;
        text-decoration: none;
        color: inherit;
    }

    .nav-link-action {
        display: none;
    }

    .category-wrapper:hover .nav-link-action {
        display: flex;
        gap: 10px;
    }

    .category-wrapper i {
        cursor: pointer;
    }


</style>

<div class="main">
    <div class="container-fluid p-2">
        <div class="modifier">
            <h2 style="color: #0066A7;">Modifiers</h2>
            <div>
                <div class="mini-navbar d-flex align-items-start" style="height: 50px; width: 100%; gap: 10px;">
                    <a asp-controller="Menu" asp-action="MenuList"
                        class="d-flex align-items-center justify-content-center"
                        style="width: 80px; height: 40px; align-self: center; gap: 5px; border-bottom: 1px solid #0066A7; text-decoration: none; color: inherit;">
                        <i class="fa-solid fa-list-ul"></i> Items
                    </a>
                    <a asp-controller="Modifier" asp-action="ModifiersList"
                        class="d-flex align-items-center justify-content-center"
                        style="width: 80px; height: 40px; align-self: center; gap: 5px; border-bottom: 1px solid #0066A7; text-decoration: none; color: inherit;">
                        <i class="fa-solid fa-sliders"></i> Modifiers
                    </a>
                </div>
                <div class="main-content row">
                    <div class="sidebar col-lg-2 d-flex flex-column flex-shrink-0 p-3 text-dark"
                        style="background-image: linear-gradient(to right, white, #f2f2f2);">
                        <div href="/" class="text-decoration-none d-flex justify-content-between align-items-center"
                            style="color: #0066A7;">
                            <h4 class="cat">Modifier Group</h4>
                            <i class="cat-i fa-regular fa-square-plus" data-bs-toggle="modal"
                                data-bs-target="#exampleModal"></i>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add Modifier</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" asp-action="AddModifier">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="Name"
                                                        placeholder="Name*" required>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <textarea class="form-control" name="Description"
                                                        placeholder="Description"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn"
                                                        style="height: 40px; width: 80px; background-color: #0066A7; color: white;">Save</button>
                                                    <button type="button" class="btn" data-bs-dismiss="modal"
                                                        style="height: 40px; width: 80px; color: #0066A7; background-color: white; border: 1px solid #0066A7;">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="overflow-auto cat-list">
                            @foreach (var modifier in Model)
                            {
                                <div class="category-wrapper">
                                    <a class="nav-link menu-sidebar category-link" href="javascript:void(0);"
                                        data-category-id="@modifier.Id">
                                        <span class="category-item">
                                            <i class="fa-solid fa-grip-vertical"></i> @modifier.Name
                                        </span>
                                    </a>
                                    <div class="nav-link-action">
                                        <a href="javascript:void(0);" data-id="@modifier.Id" class="edit-btn edit-category"
                                            style="text-decoration: none; color: inherit;">
                                            <i class="fa-solid fa-pencil m-1" data-bs-toggle="modal"
                                                data-bs-target="#editModal"></i>
                                        </a>
                                        <a href="javascript:void(0)" onclick="confirmDelete(@modifier.Id)"
                                            style="text-decoration: none; color: inherit;" class="dlt-btn">
                                            <i class="fa-solid fa-trash m-1"></i>
                                        </a>
                                        <form id="deleteform-@modifier.Id" method="post"
                                            action="@Url.Action("DeleteModifier", "Modifier", new { id = @modifier.Id })"
                                            style="display: none;">
                                            @Html.AntiForgeryToken()
                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <!-- Content will be loaded here via AJAX -->
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Deletion Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                                        <img src="@Url.Content("~/images/warning.png")" alt=""
                                            style="height: 40px; width: auto;">
                                        Are you sure you want to delete this Modifier?
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center"
                                        style="gap: 10px; margin-bottom: 20px;">
                                        <button type="button" class="btn" id="confirmDeleteButton"
                                            style="height: 40px; width: 100px; background-color: #006098; color: white;">Yes</button>
                                        <button type="button" class="btn" data-bs-dismiss="modal"
                                            style="height: 40px; width: 100px; background-color: white; border: 1px solid #006098;">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column p-3 col-lg-10" id="tbl">
                        <h4 class="items">Items</h4>

                        <div class="sidebar-dropdown d-lg-none mb-3">
                            <select class="form-control" id="categoryDropdown">
                                <option value="">Select Modifier Group</option>
                                @foreach (var modifier in Model)
                                {
                                    <option value="@modifier.Id">@modifier.Name</option>
                                }
                            </select>
                        </div>

                        <div id="item-list">
                            @await Html.PartialAsync("~/Views/Menu/_ModifierItemsPartial.cshtml", ViewBag.ModifierItems as List<Modifier>)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function confirmDelete(modifierId) {
            const modal = new bootstrap.Modal(document.getElementById('deleteModal'));
            document.getElementById("confirmDeleteButton").onclick = function () {
                document.getElementById(`deleteform-${modifierId}`).submit();
            };
            modal.show();
        }

        $(document).ready(function () {
            $('.category-link').on('click', function (e) {
                e.preventDefault();
                var categoryId = $(this).data('category-id');
                $.ajax({
                    url: '@Url.Action("ModifiersList", "Modifier")',
                    type: 'GET',
                    data: { modifierId: categoryId },
                    success: function (result) {
                        $('#item-list').html($(result).find('#item-list').html());
                    }
                });
            });

            $('.edit-category').click(function () {
                var id = $(this).data('id');
                $.ajax({
                    type: "GET",
                    data: { id: id },
                    url: "/Modifier/EditModifier",
                    dataType: "html",
                    success: function (data) {
                        $("#editModal").find('.modal-content').html(data);
                        $('#editModal').modal('show');
                    },
                    error: function () {
                        alert("Failed to load modifier details");
                    }
                });
            });

            $('#categoryDropdown').change(function () {
                var categoryId = $(this).val();
                if (categoryId) {
                    $.ajax({
                        url: '@Url.Action("ModifiersList", "Modifier")',
                        type: 'GET',
                        data: { modifierId: categoryId },
                        success: function (result) {
                            $('#item-list').html($(result).find('#item-list').html());
                        }
                    });
                }
            });
        });

        // Clear modal content when hidden
        $('#editModal').on('hidden.bs.modal', function () {
            $(this).find('.modal-content').html('');
        });

        $('#exampleModal').on('hidden.bs.modal', function () {
            $(this).find('.modal-content').html('');
        });
    </script>
}